.info {
  position: relative;
  font-size: 18px;

  &--map, &--phone {
    padding-left: 35px;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      top: 50%;
      width: 21px;
      height: 21px;
      transform: translate(0%, -50%);

      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--map::before {
    background-image: url($map-svg-path);
  }

  &--phone::before {
    background-image: url($phone-svg-path);
  }

  @include mediaTablet {
    font-size: 14px;

    &--map, &--phone {
      padding-left: 26px;
    }
  }
}